<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Calendar Events</title>
    <link rel="stylesheet" href="styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="styles/cision.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/calendar.css" type="text/css" media="screen" />

    <!-- External scripts -->
    <script type="text/javascript" src="//websolutions.test.ne.cision.com/Scripts/dist/vendor.scripts.min.js"></script>

    <!-- Cision script files -->
    <script type="text/javascript" src="scripts/texts.js"></script>
    <script type="text/javascript" src="scripts/settings.js"></script>
    <script type="text/javascript" src="//websolutions.test.ne.cision.com/Scripts/dist/Cision.Websolutions-4.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="target-event-detail"></div>
    </div>

    <script id="tplEventDetail" type="text/x-jsrender">
        <div id="event">
            <div class="event-content">
                <img src="{{>LogoUrl}}" />
                <h2>{{>Title}}</h2>
                <b>{{>Summary}}</b>
                <p>{{>Body}}</p>
                <div class="dateTime">
                    {{if EventDateFormatted || Location || Address}}
                    <h4>{{>TextWhenWhere}}</h4>
                    {{/if}}
                    {{if EventDateFormatted}}
                    <p><span class="date clear">{{>EventDateFormatted}}</span></p>
                    {{/if}}
                    {{if Location}}
                    <span>{{>Location}}</span>
                    {{/if}}
                    {{if Address}}
                    <a href="https://www.google.se/maps/place/{{>Address}}" target="_blank">{{>Address}}</a>
                    {{/if}}
                </div>
                <div class="attachments">
                    {{if Links || Files}}
                    <h4>{{>TextAttachment}}</h4>
                    {{/if}}
                    {{if Links}}
                    {{for Links}}
                    <p><a href="{{>LinkUrl}}" target="_blank">{{>LinkText}}</a></p>
                    {{/for}}
                    {{/if}}
                    {{if Files}}
                    {{for Files}}
                    <div class="attachment-thunbnail"><a href="{{>LinkUrl}}" target="_blank">{{if LinkText}}<p>{{>LinkText}}</p>{{/if}}{{if ThumbnailUrl}}<img src="{{>ThumbnailUrl}}" />{{/if}}</a></div>
                    {{/for}}
                    {{/if}}
                </div>
            </div>
            <br />
            <div class="clear"></div>
            <a href="calendar.html"><div class="btn btn-outline-dark">{{>TextBack}}</div></a>
        </div>
    </script>

    <script type="text/javascript">
        $(function () {
            // Retrieve encrypted ID
            var eventGuid = cision.websolution.calendar.queryObj()['guid'];
            cision.websolution.calendar.getEventByGuid({
                eventGuid: eventGuid
            });
        });
    </script>
</body>
</html>
